# Copy this file to .env and fill in your values
CDK_DEFAULT_ACCOUNT=123456789012
CDK_DEFAULT_REGION=eu-west-1
ORGANIZATION_ID=o-xxxxxxxxxx
ORGANIZATION_ROOT_ID=r-xxxx
RECIPIENT_EMAIL=security@example.com
SENDER_EMAIL=noreply@example.com
